<settings>
  <id>SettingsInfoImpl--3c103fd8:14d6a659527:-7fff</id>
  <workspace>
    <id>geo_workspace</id>
    <name>geo</name>
  </workspace>
  <contact>
    <id>contact</id>
  </contact>
  <charset>UTF-8</charset>
  <numDecimals>8</numDecimals>
  <onlineResource>http://geoserver.org</onlineResource>
  <verbose>false</verbose>
  <verboseExceptions>true</verboseExceptions>
  <metadata>
    <map>
      <entry>
        <string>quietOnNotFound</string>
        <boolean>false</boolean>
      </entry>
    </map>
  </metadata>
  <localWorkspaceIncludesPrefix>false</localWorkspaceIncludesPrefix>
</settings>